.App {

  border: 2px solid red;
  text-align: center;
  display: grid;
  grid-template-columns: 40px 100px 1fr 40px;
  grid-template-rows: auto;
  grid-template-areas:
    '. header header .'
    '. sidebar . .';
}

.title {
  grid-area: header;
  border: 2px solid green;
  padding: 2px;
  min-width: 30vw;
  display: flex;

}

.description {
  color: coral;
}

.sidebar {
  grid-area: sidebar;
  border: 2px solid blue;
  padding: 2px;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start; */

  max-width: 30vw;
  min-width: 300px;
}